@font-face {
    font-family: raleway;
    src: url('../font//raleway/Raleway-Regular.ttf');
}
@font-face {
    font-family: raleway-semibold;
    src: url('../font//raleway/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: raleway-bold;
    src: url('../font//raleway/Raleway-Bold.ttf');
}